.wrapper {
  background: rgb(247, 133, 243);
  background-image: url("https://wallpapertag.com/wallpaper/full/6/6/e/892974-gorgerous-pink-flower-wallpaper-background-1920x1200-for-htc.jpg");
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}
